<htm>
    <head>
        <style>
            .reset-btn{
                text-decoration: none;
                padding: 20px 40px;
                font-size: 16px;
                background-color:aquamarine;
                border-radius: 10px;
            }
        </style>
    </head>
    <body>
        Hi! <%= name %>
        <br/>
        <br/>
        Here is the link to Reset your Password
        <br/>
        <br/>
        <a class="reset-btn" href="<%= resetPasswordURL %>"     >Click Here To Reset Your Password</a>
        <br/>
        <br/>
        <br/>
        THANK You
        <br/>
        <br/>
        <br/>
        RATEME TEAM....

        </body>
    </body>
</htm>